
@{
    ViewData["Title"] = "About";
}





<!-- team section -->
<section class="w3l-team py-5">
    <div class="container py-md-5 py-4">
        <h3 class="title-style text-center mb-5">Meet Our <span>Team</span></h3>
        <div class="row text-center">
            <div class="col-lg-3 col-sm-6">
                <div class="team-block-single">
                    <div class="team-grids">
                        <a href="#team-single">
                            <img src="~/images/Sachin.jpeg" class="rounded-circle" alt="" width="180px" height="180px">
                            <div class="team-info">
                                <div class="social-icons-section">
                                    <a class="fac" href="#facebook">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a class="twitter mx-2" href="#twitter">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a class="google" href="#google-plus">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="team-bottom-block p-4">
                        <h5 class="member mb-1"><a href="#team">Sachin Bisht</a></h5>
                        <small>Pod Member</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mt-sm-0 mt-4">
                <div class="team-block-single">
                    <div class="team-grids">
                        <a href="#team-single">
                            <img src="~/images/My black BG photo.jpg" class="rounded-circle" alt="img not found" width="180px" height="180"px>
                            <div class="team-info">
                                <div class="social-icons-section">
                                    <a class="fac" href="#facebook">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a class="twitter mx-2" href="#twitter">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a class="google" href="#google-plus">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="team-bottom-block p-4">
                        <h5 class="member mb-1 active"><a href="#team">Shashank Dwivedi</a></h5>
                        <small>Pod Member</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mt-lg-0 mt-4">
                <div class="team-block-single">
                    <div class="team-grids">
                        <a href="#team-single">
                            <img src="~/images/Vedant.jpg" class="rounded-circle" alt="img not found" width="180px" height="180"px>
                            <div class="team-info">
                                <div class="social-icons-section">
                                    <a class="fac" href="#facebook">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a class="twitter mx-2" href="#twitter">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a class="google" href="#google-plus">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="team-bottom-block p-4">
                        <h5 class="member mb-1"><a href="#team">Vedant Jagtap</a></h5>
                        <small>Pod Member</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mt-lg-0 mt-4">
                <div class="team-block-single">
                    <div class="team-grids">
                        <a href="#team-single">
                            <img src="~/images/Mohit.jpg" class="rounded-circle" alt="img not found" width="180px" height="180px">
                            <div class="team-info">
                                <div class="social-icons-section">
                                    <a class="fac" href="#facebook">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a class="twitter mx-2" href="#twitter">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a class="google" href="#google-plus">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="team-bottom-block p-4">
                        <h5 class="member mb-1"><a href="#team">Mohit Saini</a></h5>
                        <small>Pod Member</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //team setion -->


