
@{
    ViewData["Title"] = "AboutTrainer";
}

<!-- home block 1 -->
<section class="w3l-servicesblock py-5">
    <div class="container py-md-5 py-4">
        <div class="row pb-xl-5 align-items-center">
            <div class="col-lg-6 position-relative home-block-3-left pb-lg-0 pb-5">
                <div class="position-relative">
                    <img src="~/images/trainer.jpg" alt="" class="img-fluid radius-image">
                </div>
                <div class="imginfo__box">
                    <p>Mr. Kumar :</p> <a href="email:http://kiran.kumarpvn@cognizant.com">kiran.kumarpvn@cognizant.com</a><br />
                    <p>Mr. Pandey :</p> <a href="email:http://rupesh.pandey@cognizant.com">rupesh.pandey@cognizant.com</a>
                </div>
            </div>
            <div class="col-xl-5 col-lg-6 offset-xl-1 mt-lg-0 mt-5 pt-lg-0 pt-5">
                <h3 class="title-style mb-md-5 mb-4">
                    About our <span>Trainer</span>
                </h3>
                <p class="sub-para">
                   <h4> Mr. P.V.N Kiran Kumar</h4>
                </p>
                <p class="mt-4 pt-sm-2">
                    Mr. Kumar has an experience of over 15 plus years in various technologies like .NET core, SQL Server, and AZURE, and shared his valuable ideas with us which helped us in implementing this project easily.
                </p>
                <br />
                <h3 class="title-style mb-md-5 mb-4">
                    About our <span>Mentor</span>
                </h3>
                <p class="sub-para">
                    <h4> Mr. Rupesh Pandey</h4>
                </p>
                <p class="mt-4 pt-sm-2">
                    Mr. Rupesh Pandey has an experience of over 8 plus years and shared his valuable ideas with us which helped us in implementing this project easily.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- //home block 1 -->

