
@{
    ViewData["Title"] = "Index";
}

<!-- aboutblock1 section -->
<section class="w3l-homeblock1" id="about">
    <div class="container">
        <div class="row align-items-center mt-0">
            <div class="col-lg-6">
                <h3 class="title-style">Welcome to <span><b>Online Shopping Cart</b></span></h3>
                <p>
                    <h5>Online Shopping Cart System is a web based shopping system for an existing shop. This project delivers the online Shopping Application.
Shopping cart is the process where users can directly buy goods in real time. Users can buy products without an intermediary service on the Internet.
This project is a form of E-Commerce. Selected products can be added to the cart.
Products added to the cart can be purchased later also. Thus the customer will get the service of online shopping and home delivery from his favorite shop.
               </h5> </p>
                
            </div>
            <div class="col-lg-6 homeaboutblock mt-lg-0">
                <img src="~/images/OnlineShopping.jpg" class="img-fluid radius-image" alt="image">
            </div>
        </div>
    </div>
</section>
<!-- //aboutblock1 section -->

<!-- Icons Grid-->
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mt-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="center"><img src="~/images/customer.png" width="80" height="80" class="center" title="doctor icons"></div>
                    <br />
                    <h3>Customer</h3>
                    <p>Customer can login, register , add product to cart, <br /> and place the order for the product of their choice.</p>
                </div>
            </div>
           @* <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="center"><img src="~/images/medical-team.png" width="80" height="80" class="center" title="doctor icons"></div>
                    <br />
                    <h3>Doctor</h3>
                    <p class="lead mb-0">Doctors can login, register themselves, confirm any appointment and also keep track of them.</p>
                </div>
            </div>*@
           
            <div class="border-4 col-lg-6 mt-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="center"><img src="~/images/administrator.png" width="80" height="80" class="center" title="doctor icons"></div>
                    <br />
                    <h3>Admin</h3>
                    <p>Admin has special previlages and can add a user,<br /> add product and manage the products.</p>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="w3l-contact-11 py-5" id="contact">
        <div class="container py-md-5 py-4">
            <h3 class="title-style text-center mb-5"><span>Technologies Used</span></h3>
            <div class="row text-center mb-5 pb-lg-5 pb-sm-4">
                <div class="col-lg-4 col-sm-6 contact-info">
                    <img src="~/images/programming.png"  width="80" height="80"/>
                    <h4 class="mt-2">Front-End</h4>
                    <p>HTML, CSS, JavaScript, Bootstrap, JQuery</p>
                </div>
                <div class="col-lg-4 col-sm-6 contact-info mt-md-0 mt-4">
                    <img src="~/images/database.png"  width="80" height="80"/>
                    <h4 class="mt-2">Back-End</h4>
                    <p>C#, SQL Server Database</p>
                </div>
                <div class="col-lg-4 col-sm-6 contact-info mt-lg-0 mt-4">
                    <img src="~/images/framework.png"  width="80" height="80"/>
                    <h4 class="mt-2">Framework</h4>
                    <p>Entity Framework, Dot Net Core MVC</p>
                </div>
                @*<div class="col-lg-3 col-sm-6 contact-info mt-lg-0 mt-4">
                    <img src="~/images/cloud-service.png"  width="80" height="80"/>
                    <h4 class="mt-2">Cloud</h4>
                    <p>24 Hours</p>
                </div>*@
            </div>
<section>

